@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e
}

h1 {
    color: darkslategrey;
}

h2 {
    color: cornflowerblue;
    font-weight: bolder;
}

p {
    font-size: 16px;
}

ul {
    font-size: 18px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}